<h1 class="article-title">{{ .Title }}
{{ with .Params.subtitle }}
<span class="article-subtitle">{{ . }}</span>
{{ end }}
</h1>

{{ if or (in (split "en,cn" ",") .Section) .Params.author }}
<div class="article-date">
  <span>{{ with or (or .Params.author (index .Site.Params.author .Section)) "" }} {{  print . " · " }} {{ end }} {{ .Date.Format "2006/01/02" }}</span>
  <span class="article-toolbar">
    {{ with .Section }}
    <a href="/{{ . }}/index.xml" type="application/rss+xml" target="_blank"><i class="fa fa-rss" aria-hidden="true" title="RSS feed"></i></a>
    {{ end }}
 
    {{ with .Site.Params.githubContentURL }}
    {{ $.Scratch.Set "filePath" $.File.Path }}
    {{ if $.Params.from_Rmd }}
    {{ $.Scratch.Set "filePath" (replaceRE "[.]md$" ".Rmd" $.File.Path) }}
    {{ end }}
    <a href="{{ or $.Params.githubEditURL  (print .  ($.Scratch.Get "filePath")) }}"><i class="fa fa-pencil-square-o" aria-hidden="true" title="{{ default (index $.Site.Params.lang.edit.en) (index $.Site.Params.lang.edit $.Section) }}"></i></a>
    {{ end }}
    </span>
</div>
{{ end }}
